<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.javawebproject.mapper.EnrollmentMapper">

    <!-- 查询学生的选课记录 -->
    <select id="selectByStudentId" resultType="com.gzu.javawebproject.entity.Enrollment">
        SELECT * FROM course_selection WHERE student_id = #{studentId}
    </select>

    <!-- 查询课程的选课记录 -->
    <select id="selectByCourseId" resultType="com.gzu.javawebproject.entity.Enrollment">
        SELECT * FROM course_selection WHERE course_id = #{courseId}
    </select>

</mapper>
