<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.javawebproject.mapper.ScheduleMapper">

    <!-- 查询课程的日程表 -->
    <select id="selectByCourseId" resultType="com.gzu.javawebproject.entity.Schedule">
        SELECT * FROM schedule WHERE course_id = #{courseId}
    </select>

</mapper>
